.cm-s-vscode-dark-plus.CodeMirror, .cm-s-vscode-dark-plus .CodeMirror-gutters {
  background-color: #1E1E1E !important;
  color: #f8f8f2 !important;
  border: none;
}
.cm-s-vscode-dark-plus .CodeMirror-gutters { color: #1E1E1E; }
.cm-s-vscode-dark-plus .CodeMirror-cursor { border-left: solid thin #f8f8f2; }
/* .cm-s-vscode-dark-plus .CodeMirror-linenumber { color: #6D8A88; } */
.cm-s-vscode-dark-plus .CodeMirror-selected { background: #ADD6FF26; }
.cm-s-vscode-dark-plus .CodeMirror-line::selection, .cm-s-vscode-dark-plus .CodeMirror-line > span::selection, .cm-s-vscode-dark-plus .CodeMirror-line > span > span::selection { background: #ADD6FF26; }
.cm-s-vscode-dark-plus .CodeMirror-line::-moz-selection, .cm-s-vscode-dark-plus .CodeMirror-line > span::-moz-selection, .cm-s-vscode-dark-plus .CodeMirror-line > span > span::-moz-selection { background: #ADD6FF26; }
.cm-s-vscode-dark-plus span.cm-comment { color: #608b4e; }
.cm-s-vscode-dark-plus span.cm-string { color: #ce9178; }
.cm-s-vscode-dark-plus span.cm-string-2 { color: #646695 }
.cm-s-vscode-dark-plus span.cm-number { color: #b5cea8; }
.cm-s-vscode-dark-plus span.cm-variable { color: #b5cea8; }
.cm-s-vscode-dark-plus span.cm-variable-2 { color: #b5cea8; }
.cm-s-vscode-dark-plus span.cm-variable-3 { color: #b5cea8; }
.cm-s-vscode-dark-plus span.cm-property { color: #b5cea8; }
.cm-s-vscode-dark-plus span.cm-def { color: #9CDCFE; }
.cm-s-vscode-dark-plus span.cm-operator { color: #d4d4d4; }
.cm-s-vscode-dark-plus span.cm-keyword { color: #569cd6; }

/* .cm-s-vscode-dark-plus span.cm-atom { color: #bd93f9; } */
/* .cm-s-vscode-dark-plus span.cm-meta { color: #f8f8f2; } */
.cm-s-vscode-dark-plus span.cm-tag { color: #4EC9B0; }
.cm-s-vscode-dark-plus span.cm-tag.cm-bracket { color: #808080; }
.cm-s-vscode-dark-plus span.cm-attribute { color: #9cdcfe; }
/* .cm-s-vscode-dark-plus span.cm-qualifier { color: #50fa7b; } */
/* .cm-s-vscode-dark-plus span.cm-builtin { color: #50fa7b; } */
.cm-s-vscode-dark-plus span.cm-type { color: #4EC9B0 }

.cm-s-vscode-dark-plus .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
/* .cm-s-vscode-dark-plus .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; } */
