@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro/GothamPro.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro/GothamProNarrow-Medium.woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro/GothamProNarrow-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

#app *:not(.material-icons) {
  font-family: 'Gotham Pro' !important;
}


/*--header icons*/

[class^="icon-"], [class*=" icon-"] {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 19px;
  margin-right: 5px;
}

.icon-wallet {
  background-image: url('./header-icons/wallet.svg');
  width: 18px;
}
.icon-blocks {
  background-image: url('./header-icons/blocks.svg');
  width: 19px;
}
.icon-transactions {
  background-image: url('./header-icons/transactions.svg');
  width: 19px;
}
.icon-addresses {
  background-image: url('./header-icons/addresses.svg');
  width: 13px;
}
.icon-assets {
  background-image: url('./header-icons/assets.svg');
  width: 18px;
}
.icon-contracts {
  background-image: url('./header-icons/contracts.svg');
  width: 14px;
}


/*transaction page table*/

.transaction-page-table {
  border-radius: unset !important;
  background-color: transparent !important;
}

.transaction-page-table > *:nth-child(2) {
  background-color: #fff;
}


/*table 2 level*/

.table-2level {
  background-color: transparent !important;
  border-radius: 0 0 4px 4px !important;
}

.table-2level > *:first-child {
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.table-2level > *:not(:first-child) {
  background-color: #fff;
}